<div class="jumbotron">
<h1>Bienvenido a la pagina de ventas</h1>
<p>
	Has encontrado la pagina perfecta para vender tus bienes sin preocupaciones!
</p>

<p>
	Prueba de hyperlink
	<%= link_to "Google", "http://www.google.com" %>
</p>

<p>
	<%= link_to "Crear una cuenta", "#", class: "btn btn-primary btn-lg" %>
</p>
</div>

